.right-tools {
  position: relative;
}

.info-popup {
  z-index: 2;
  display: none;
  position: absolute;
  font-size: 1rem;
  top: 170%;
  right: 0;
  width: 15vw;
  padding: 1rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
}

.info-popup::before {
  content: "";
  position: absolute;
  top: -1rem;
  right: 4rem;
  width: 0;
  height: 0;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-bottom: 1rem solid var(--white);
}

.info-popup__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info-popup__content a {
  width: 2rem;
  height: 2rem;
  z-index: 3;
}

.info-popup__content h2 {
  color: var(--pink);
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.2rem;
}

.info-popup__content p {
  font-family: "Chakra Petch Light Regular";
}

.info-popup__content a:hover,
.github-icon:hover {
  cursor: url("/cursor/mint2.svg"), auto;
}

.github-icon:hover g {
  color: var(--pink);
  fill: var(--pink);
}

.github-icon:active {
  cursor: url("/cursor/mint2clicked.svg"), auto;
}

.question-icon:hover,
.question-icon:hover path,
.color-icon:hover,
.color-icon:hover path {
  color: var(--pink);
  fill: var(--pink);
  cursor: url("/cursor/mint2.svg"), auto;
}

.question-icon:active,
.question-icon:active path,
.color-icon:active,
.color-icon:active path,
.tools__circle:active {
  cursor: url("/cursor/mint2clicked.svg"), auto;
}

.tools__circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  cursor: url("/cursor/mint2.svg"), auto;
  transition: box-shadow 0.3s;
}

.tools__circle:hover {
  box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.2) 0px 18px 36px -18px inset;
}

.tools__circle:hover svg,
.tools__circle:hover path {
  fill: var(--black);
}

.btn-active {
  color: var(--pink);
  animation: rotate 0.5s linear forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popup-show {
  display: block !important;
  animation: fadeIn 0.5s;
}

.popup-hide {
  animation: fadeOut 0.5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.color-popup {
  z-index: 2;
  display: none;
  position: absolute;
  font-size: 1rem;
  top: 170%;
  right: 0;
  width: 4rem;
  height: 20rem;
  padding: 1rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
}

.color-popup__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.color-popup__content span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0.5rem;
}

.color-popup::before {
  content: "";
  position: absolute;
  top: -0.9rem;
  right: 1rem;
  width: 0;
  height: 0;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-bottom: 1rem solid var(--white);
}

.color-btn {
  cursor: url("/cursor/mint2.svg"), auto;
  transition: border 0.3s;
}

.color-btn:hover {
  opacity: 0.8;
}

.color-btn:active {
  cursor: url("/cursor/mint2clicked.svg"), auto;
  scale: 0.9;
}

.pink {
  background-color: #ff00a9;
}
.yellow {
  background-color: #f2f81a;
}
.blue {
  background-color: #124ef0;
}
.green {
  background-color: #ceff0b;
}
