@import "search.css";
@import "main.css";
@import "saved.css";

:root {
  --bg-color: #d6d5dc;
  --blue: #000bf2;
  --orange: #f65617;
  --pink: #0c4af0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  font-family: "Chakra Petch Regular";
  line-height: 1;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 4rem 1fr 1.7fr;
  background-color: var(--bg-color);
}

/*상단 타이틀*/
h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
  background: linear-gradient(90deg, var(--pink) 30%, rgba(255, 255, 255) 80%);
  /* border-bottom: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
  padding: 0rem 1.5rem;
  letter-spacing: -1px;
}

h1 svg {
  width: 1.9rem;
  height: 1.9rem;
  object-fit: contain;
}
