@import "search.css";
@import "saved.css";
@import "chakra-patch/chakra-patch.css";
@import "header.css";
@import "edit.css";

:root {
  --bg-color: #d6d5dc;
  --pink: #ff00a9;
  --white: #fff;
  --black: #000;
  --theme-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  border: 0;
  font-size: 100%;
  font: inherit;
  cursor: url("/cursor/mintd.svg"), auto;
}

body {
  font-family: "Chakra Petch Regular";
  line-height: 1;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 4rem 1fr 1.7fr;
  background-color: var(--bg-color);
}

/*상단 타이틀*/
h1 {
  cursor: url("/cursor/mintd.svg"), auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--white);
  background: linear-gradient(90deg, var(--pink) 30%, var(--bg-color) 90%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
  padding: 0rem 1.5rem;
  letter-spacing: -1px;
  z-index: 3;
  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
}

h1 div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

h1 span {
  width: fit-content;
  height: fit-content;
}

h1 svg {
  width: 1.9rem;
  height: 1.9rem;
  object-fit: contain;
  @media (max-width: 768px) {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.heart-icon {
  @media (max-width: 430px) {
    display: none;
  }
}

h1 svg path {
  fill: var(--white);
}

.capture-btn {
  background: var(--bg-color);
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: url("/cursor/mint2.svg"), auto;
  transition: all 0.3s;
}

.capture-btn svg {
  width: 2rem;
  height: 2rem;
  color: var(--pink);
  cursor: url("/cursor/mint2.svg"), auto;
}

.capture-btn svg path {
  cursor: url("/cursor/mint2.svg"), auto;
}

.capture-btn:active,
.capture-btn svg:active,
.capture-btn svg path:active {
  cursor: url("/cursor/mint2clicked.svg"), auto;
}

.capture-btn:active {
  scale: 0.9;
}

.capture-btn:hover {
  background: var(--pink);
  box-shadow: -3px -4px 9.6px 1px rgba(0, 0, 0, 0.25) inset;
}

.capture-btn:hover svg {
  color: var(--theme-white);
}
